<h1>Genereer een karakter</h1>

<form method="post">

    <label>Kies een game</label>
    <select name="game">
        <option>Overwatch</option>
    </select>

    <br />
    <br />

    <label>Kies een rol</label>
    <select name="role">
        <option>Tank</option>
        <option>Support</option>
        <option>DPS</option>
    </select>

    <br />
    <br />

    <button type="submit">Genereren</button>

</form>