@model FindYourMain.Models.Character

<h1>Jouw karakter</h1>

<p>Naam: @Model.Name</p>
<p>Rol: @Model.Role</p>

<div class="mt-4">
    <a asp-action="Generate" class="btn btn-warning btn-lg px-4 fw-bold">
        <i class="bi bi-arrow-clockwise" </i> Opnieuw genereren
    </a>
</div>
