<h1>Find Your Main</h1>

<p>Welkom bij Find Your Main!</p>

<a href="/Character/Generate">Genereer karakter</a>
<br />
<a href="/Dashboard/Index">
    Bekijk dashboard
</a>

<br /><br />

<a href="/Statistics/Create">
    Voeg statistieken toe
</a>