@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <section class="card shadow-sm p-4">
                <form id="account" method="post">
                    <h2 class="h5 mb-3 text-center">Gebruik een lokaal account</h2>
                    <hr />

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label fw-bold">Email</label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="naam@voorbeeld.nl" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label fw-bold">Wachtwoord</label>
                        <input asp-for="Input.Password" class="form-control form-control-lg" type="password" autocomplete="current-password" aria-required="true" placeholder="Wachtwoord" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Onthoud mij
                        </label>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">Log in</button>
                    </div>

                    <div class="text-center small">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registreer als nieuwe gebruiker</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}