@model FindYourMain.Models.Stats

<div class="card-box">

    <h1>Voeg Match Statistics toe</h1>

    <form asp-controller="Statistics"
          asp-action="Create"
          method="post">

        @Html.AntiForgeryToken()

        <label>Kills</label>
        <input asp-for="Kills" class="form-control" />

        <label>Assists</label>
        <input asp-for="Assists" class="form-control" />

        <label>Damage</label>
        <input asp-for="Damage" class="form-control" />

        <label>Character ID</label>
        <input asp-for="CharacterID" class="form-control" />

        <button type="submit" class="btn-primary">
            Save Statistics
        </button>

    </form>

</div>