@model FindYourMain.Models.Stats

<div class="card-box">

    <h1>Voeg Match Statistics toe</h1>

    <form asp-controller="Statistics"
          asp-action="Create"
          method="post">

        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label>Kills</label>
            <input asp-for="Kills" class="form-control" />
            <span asp-validation-for="Kills" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label>Assists</label>
            <input asp-for="Assists" class="form-control" />
            <span asp-validation-for="Assists" class="text-danger"></span>
        </div>

<<<<<<< HEAD
        <label>Character</label>
        <input type="text" class="form-control"  />

        <input type="hidden" asp-for="CharacterID" value="1" />
=======
        <div class="form-group mb-3">
            <label>Damage</label>
            <input asp-for="Damage" class="form-control" />
            <span asp-validation-for="Damage" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label>Character </label>
            <input asp-for="CharacterID" class="form-control" />
            <span asp-validation-for="CharacterID" class="text-danger"></span>
        </div>
>>>>>>> main

        <button type="submit" class="btn-primary">

            Save Statistics
        </button>

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}